@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body,
#root {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

#root {
    background: hsl(210, 60%, 98%);
}

@media (max-width: 1505px) {
    .newIcon {
        position: relative !important;
        top: 04px !important;
        display: inline-block !important;
    }
}

@media (max-width: 1300px) {
    .message {
        width: 75% !important;
    }
}
@media (max-width: 1080px) {
    .message {
        width: 70% !important;
        margin-top: 4%;
    }
    .container{
        margin-bottom: 10px !important;

    }
}
@media (max-width: 820px) {
    .home-container {
        width: 60% !important;
        height: 90% !important;
    }
    .container {
        min-height: 6rem !important;
        margin-bottom: 20px !important;
    }
}
@media (max-width: 680px) {
    h1 {
        font-size: 1.5em !important;
    }
    #root {
        background: #fff;
    }
    .message {
        margin-top: 6% !important;
    }
}
@media (max-width: 575px) {
    .message {
        width: 65% !important;
    }
    .container {
        min-height: 7rem !important;
    }
    .home-container {
        width: 85% !important;
    }
    img {
        width: 20% !important;
    }
}
@media (max-width: 425px) {
    * {
        font-size: 15px;
    }
    h1 {
        font-size: 1.3em !important;
    }
    .date {
        margin: 1% 0 !important;
    }
    .message {
        margin-top: 8% !important;
    }
}
